{
  "docs-contracts": {
    "INTRODUCTION": [
      "open-zeppelin",
      "get-started"
    ],
    {{#sections}}
    "{{{sectionId}}}": [
      {{#docs}}
        "{{docId}}"{{^last}},{{/last}}
      {{/docs}}
    ]{{^last}},{{/last}}
    {{/sections}}
  }
}
