/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

* {
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif!important;
}

.fixedHeaderContainer {
  padding: 0;
  margin: 0;
  background: white;
  height: 60px !important;
}

.headerWrapper {
  padding: 0;
  margin: 0;
  max-width: 100%;
  height: 60px !important;
}

header {
  height: 60px !important;
  padding: 0px 20px;
  border-bottom: solid #ecf0f2 1px !important;
}

header > a {
  height: 60px !important;
}

.postHeader {
  padding: 0px;
}

.logo {
  margin: auto 10px;
  width: 225px;
  height: 30px!important;
}

.navigationWrapper {
  height: 60px !important;
}

.navigationSlider .slidingNav ul li a {
  line-height: 20px;
  position: relative;
  display: block;
  padding: 10px 15px;
  height: 60px !important;
  padding-top: 19px;
  color: rgb(134, 134, 134);
  font-size: 14px;
  font-weight: 300;
}

.navigationSlider .slidingNav ul li a:focus, .navigationSlider .slidingNav ul li a:hover {
  color: rgb(50, 50, 50);
  background: white;
  text-decoration: none;
}

footer.nav-footer {
  background: white;
}

footer.nav-footer h5 {
  color: rgb(50, 50, 50);
}

footer.nav-footer a, footer.nav-footer section {
  color: rgb(139, 139, 139);
}

footer.nav-footer a:focus, footer.nav-footer a:hover {
  color: rgb(50, 50, 50);
}

.contract-doc .contract .base-contracts {
  padding-top: 0;
  padding-bottom: 15px;
}

.contract-doc .contract .description {
  padding-top: 0;
  padding-bottom: 15px;
}

.contract-doc .contract .source,
.contract-doc .contract .author {
  font-size: 16px;
  font-style: italic;
}

.contract-doc .reference .item {
  position: relative;
  border: solid #ecf0f2 1px !important;
}

.contract-doc .reference .item .anchor-marker {
  position: absolute;
  top: -80px;
}

.contract-doc .reference .item .body {
  padding: 15px;
}

.contract-doc .reference .item .body hr {
  border: 1px solid #d0d9e033;
}

.contract-doc .events ul {
  list-style: none;
  padding-left: 0;
}

.contract-doc .modifiers ul {
  list-style: none;
  padding-left: 0;
}

.contract-doc .functions ul {
  list-style: none;
  padding-left: 0;
}

.contract-doc .events .item,
.contract-doc .modifiers .item,
.contract-doc .functions .item {
  margin-bottom: 20px;
  border: 1px solid #d0d9e0;
}

.contract-doc .events .item dd,
.contract-doc .modifiers .item dd,
.contract-doc .functions .item dd {
  margin-left: 10px;
}

.contract-doc .events .item .name,
.contract-doc .modifiers .item .name,
.contract-doc .functions .item .name {
  background-color: #dee3e9;
  padding: 6px 6px 6px 15px;
  margin-bottom: 10px;
  font-weight: 800;
}

.contract-doc .events .description,
.contract-doc .modifiers .description,
.contract-doc .functions .description {
  margin-bottom: 10px;
  line-height: 25px;
}

.contract-doc .events .description p,
.contract-doc .modifiers .description p,
.contract-doc .functions .description p {
  line-height: 25px;
}

.label-modifiers, .label-parameters, .label-return {
  font-weight: 800;
}
