{
  "docs": {
    "INTRODUCTION": [
      "open-zeppelin",
      "get-started",
      "next-steps"
    ]
  },
  "docs-api": {
    "API": [
      "doc4"
    ],
    {{#sections}}
    "{{{sectionId}}}": [
      {{#docs}}
      "{{docId}}"{{^last}},{{/last}}
      {{/docs}}
    ]{{^last}},{{/last}}
    {{/sections}}
  }
}
