name: Test

on:
  push:
    branches: [master]
  pull_request: {}

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with:
        node-version: 10.x
    - run: yarn
    - run: yarn test
    - run: yarn coverage
    - uses: codecov/codecov-action@v1
